.wrapper {
  display: flex;
  background-color: var(--mantine-color-white);
  border-radius: var(--mantine-radius-lg);
  padding: 16px;
  border: 1px solid var(--mantine-color-gray-2);
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
}

.contacts {
  box-sizing: border-box;
  position: relative;
  border-radius: var(--mantine-radius-lg);
  background-size: cover;
  background-position: center;
  border: 1px solid transparent;
  padding: 16px;
  flex: 0 0 280px;
}

@media (max-width: 768px) {
  .contacts {
    margin-bottom: 16px;
    padding-left: 16px;
  }
}

.form {
  flex: 1;
  padding: 32px;
  padding-left: 64px;
}

@media (max-width: 768px) {
  .form {
    padding: 16px;
    padding-left: 16px;
  }
}

.title {
  margin-bottom: 24px;
  font-family: "Greycliff CF", sans-serif;
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 16px;
  }
}

.fields {
  margin-top: -12px;
}

.fieldsGroup {
  display: flex;
}

@media (max-width: 768px) {
  .fieldsGroup {
    flex-direction: column;
  }
}

.fieldInput {
  flex: 1;
}

.fieldInput + .fieldInput {
  margin-left: 16px;
}

@media (max-width: 768px) {
  .fieldInput + .fieldInput {
    margin-left: 0;
    margin-top: 16px;
  }
}

.control {
  flex: 1;
}

.contactItem {
  display: flex;
  align-items: center;
  color: white;
}

.contactIcon {
  margin-right: 16px;
}

.contactTitle {
  color: var(--mantine-color-blue-0);
}

.contactDescription {
  color: white;
}
